extends layout

block content
  div(class="tile-grid")
    a(class="tile" href="/games/snake")
      div(class="tile__info")
        h4(class="tile__title")="snake"
        p(class="tile__description")="classic snake"
    a(class="tile" href="/games/research")
      div(class="tile__info")
        h4(class="tile__title")="research"
        p(class="tile__description")="gf"
    div(class="tile")
      h4="tile 3"
    div(class="tile")
      h4="tile 4"