doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav-top.css')
    link(rel='stylesheet', href='/stylesheets/tile.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
  body
      div(class="container")
        header(class="header header--primary")
            h1(class="header__title")="Some Gamezzz"
        nav(class="nav-top nav-top--primary")
            ul(class="nav")
                li(class="")
                    a(class="nav-top__bttn nav-top__bttn--primary" href="#")="///"
                li(class="")
                    a(class="nav-top__bttn nav-top__bttn--primary" href="#")="bbb"
                li(class="")
                    a(class="nav-top__bttn nav-top__bttn--primary" href="#")="ccc"
        main(class="main")
            block content
        footer(class="footer footer--primary")="A foot"


